@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 560px;
    margin: auto;
    background: url("../img/radio-tv.png") no-repeat center;
    background-size: contain;/*posição da img*/
    position: relative;
}

audio#musica {
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 270px;
    height: 90px;
}
video#filme {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    border-radius: 6px;
    object-fit: cover;
    left: 100px;
    top: 120px;
    width: 420px;
    height: 240px;
}

.botao-link a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,255,0.7);
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
}

